<h1>DisplayDirect aanmelding</h1>
Er is zojuist geprobeerd een haltesysteem aan te melden bij de DisplayDirect server met dit emailadres.
Het gaat om systeem met identificatie '{{ id }}'.
Indien dit klopt kan je <a href="{{& url }}">hier tikken om het haltesysteem te activeren</a>